* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #EBD666;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #0090F9;
}

.logo {
    width: 300px;
    height: 100px;
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.buscar {
    display: flex;
    position: relative;
}

.nome {
    display: flex;
    width: 300px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.2rem;
}

.botao {
    display: flex;
    padding: 10px 20px;
    background-color: #0090F9;
    color: white;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.cards {
    width: 50%;
    display: grid;
    margin-top: 60px;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    overflow: hidden;
    transition: transform 0.3s; 
}

.card:hover {
    transform: scale(1.1); 
}

.voltar {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: inline-block;
    background-color: #0090F9;
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    position: absolute;
    left: -50%;
    height: 100%;
}

.botaoVoltar {
    color: white;
    text-decoration: none;
    padding: 20px 12px;
    height: 20px;
}
